For the following conversation, please identify the the language spoken by the speakers:

{{ transcript_text }}

Respond with only the language short code (e.g. en, ko, etc.)
No explanation is needed. Ensure only the language code is provided. 

Chose from the following languages:
zh  # Chinese
da  # Danish
de  # German
nl  # Dutch
en  # English
es  # Spanish
fr  # French
it  # Italian
ko  # Korean