{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="mb-3">
    <label for="disabledTextInput" class="form-label">Interview ID</label>
    <input type="text" id="disabledTextInput" class="form-control" value="{{ interview_id }} - {{ interview_name }}" disabled>
</div>

<div style="display: flex; justify-content: center;">
    <video class="mt-3 mb-3" controls>
        <source src="{{ url_for('serve_file', file_path=interview_video) }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

{% if has_multiple_videos %}
<div class="mt-3 alert alert-warning" role="alert">
    <strong>Warning!</strong> This interview has multiple videos associated with it! Only one videos is shown here.
</div>
{% endif %}

<div class="mt-3">
    {{ render_form(form) }}
</div>

{% if has_existing_data %}
<div class="mt-3 alert alert-warning" role="alert">
    <strong>Warning!</strong> This interview already has a QC score. New submissions will overwrite any existing data.
</div>
{% endif %}

{% endblock %}